node_modules
dist
deno.lock

# Local Netlify folder
.netlify

# Local environment variables
.env

# Playwright MCP
.playwright-mcp
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store
public/.DS_Store
